## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [9]:

sample_list_1 = random.sample(range(100), k = 80)
print(sample_list_1)

len(sample_list_1)

[28, 34, 84, 98, 87, 37, 41, 82, 42, 52, 96, 29, 70, 75, 15, 20, 47, 13, 39, 31, 5, 89, 65, 68, 69, 12, 92, 72, 61, 58, 24, 46, 14, 81, 43, 73, 32, 51, 94, 9, 62, 3, 83, 77, 44, 49, 45, 18, 79, 48, 97, 55, 85, 57, 40, 80, 76, 1, 17, 36, 0, 59, 53, 88, 67, 30, 25, 22, 8, 19, 91, 54, 66, 10, 71, 4, 60, 78, 38, 63]

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [11]:
set1 = set(sample_list_1)
type(set1)

print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [17]:
sample_list_2 = random.choices(range(100), k=80)
print(sample_list_2)

len(sample_list_2)

[85, 40, 8, 14, 98, 8, 48, 16, 45, 37, 75, 78, 28, 73, 30, 93, 42, 44, 36, 51, 42, 0, 59, 55, 27, 65, 54, 8, 15, 4, 16, 85, 87, 52, 6, 20, 15, 96, 38, 97, 35, 3, 89, 76, 95, 63, 78, 51, 31, 98, 27, 54, 16, 38, 7, 12, 17, 25, 77, 9, 67, 57, 87, 92, 40, 64, 77, 64, 92, 25, 5, 38, 75, 98, 41, 46, 58, 0, 51, 58]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [19]:
set2 = set(sample_list_2)
print(len(set2))
type(set2)

# sets count only uniques, not doubles. set2 doesn't contain only unique values!

55

set

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [31]:

set3 = set1.difference(set2)
print(set3)

{1, 10, 13, 18, 19, 22, 24, 29, 32, 34, 39, 43, 47, 49, 53, 60, 61, 62, 66, 68, 69, 70, 71, 72, 79, 80, 81, 82, 83, 84, 88, 91, 94}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [32]:

set4 = set2.difference(set1)
print(set4)

{64, 35, 6, 7, 16, 27, 93, 95}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [34]:
set5 = set1.intersection(set2)

print(set5)

# or with FOR loop

{0, 3, 4, 5, 8, 9, 12, 14, 15, 17, 20, 25, 28, 30, 31, 36, 37, 38, 40, 41, 42, 44, 45, 46, 48, 51, 52, 54, 55, 57, 58, 59, 63, 65, 67, 73, 75, 76, 77, 78, 85, 87, 89, 92, 96, 97, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [ ]:
# Your code here

#### Create an empty set called `set6`.

In [ ]:
# Your code here

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [ ]:
# Your code here

#### Check if `set1` and `set6` are equal.

In [ ]:
# Your code here

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [ ]:
# Your code here

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [ ]:
# Your code here

#### Using the `pop` method, remove an element from `set1`.

In [ ]:
# Your code here

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:
# Your code here